  .layout {
  max-height: calc(100vh - 60px);
  }

  nz-sider {
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 30;
  }

  .right-layout {
    margin-left: 350px;
  }

  nz-header {
    background: #fff;
    padding: 0;
  }

  nz-content {
    /* margin: 24px 16px 0; */
    overflow: initial;
  }

  .inner-content {
    /* padding: 24px; */
    background: #fff;
  }

  .direct-chat-messages {
      height: calc(100vh - 190px);
      overflow:hidden;
      padding-left: 20px;
      padding-right: 20px;
  }

  .contact-scroll-area {
    max-height: calc(100vh - 40px);
  }

  .msg-scroll-area {
    max-height: calc(100vh - 200px);
  }